@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Zen+Antique&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Zen Antique', serif; */
}

.divider {
    color: black !important;
    background: #000 !important;
    height: 2px !important;
}
